:root {
  font-size: 16px;
}

// font-sizes
$font-size-01: 0.5rem;
$font-size-02: 0.75rem;
$font-size-03: 1rem;
$font-size-04: 1.5rem;
$font-size-05: 2rem;

// spacing-sizes
$spacing-00: 0.25rem;
$spacing-01: 0.5rem;
$spacing-02: 0.75rem;
$spacing-03: 1rem;
$spacing-04: 1.5rem;
$spacing-05: 2rem;
$spacing-06: 2.5rem;

// screen-sizes
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1400px;
