@import '../../styles/variables';

.search {
  margin-top: $spacing-05;

  @media (max-width: $screen-md) {
    margin-top: $spacing-01;
  }

  &__form {
    &__input {
      margin: 0 $spacing-01 0rem $spacing-01;
    }

    &__button {
      margin: 0 $spacing-01 0rem $spacing-01;
    }
  }
}
